.headerPrincipal .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.containerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerLogo h1{
  float: left;
}

.containerLogo input{
  flex-grow: 2;
}

.containerLogo input:focus{
  outline: none;
}

.containerLogo:focus-within{
  outline: 1px #2A7AE4;
}

.headerPrincipal-boton{
  display: inline;
  width: 20%;
}