body {
	background-color: #F5F5F5;
	font-family: 'Raleway', sans-serif;
  color: #464646;
}

button{
  cursor: pointer;
}

input{
  border: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.headerPrincipal {
  background-color: #FFF;
  padding: 20px 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.containerLogo{
  width: 60%;
  border: none;
}


.containerLogo input{
  font-family: "Raleway", sans-serif;
  height: 24px;
  padding: 8px 16px;
  margin: 0 0 0 32px;
  width: 40%;
  border-radius: 20px 0 0 20px;
  background-color: #F5F5F5;
  font-size: 14px;
  box-shadow: none;
}

.containerLogo input::placeholder {
  font-weight: 300;
  color: #A2A2A2;
}

.containerLogo button{
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F5F5F5;
  height: 40px;
  padding-right: 16px;
}

.headerPrincipal-boton button{
    height: 51px;
    width: 100%;
    padding: 12px 16px;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: solid 1px #2A7AE4;
    color: #2A7AE4;

}

.contenidoPrincipal {
	padding-bottom: 20px;
}

.heroImg{
  background-image: url(../img/banner-image.png);
  height: 352px;
  margin-top: 94px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText{
  text-align: left;
  position: relative;
  transform: translate(0%, 80%);
  color: #FFF;
  line-height: 1.3;
  display: inline-block;
}

.heroText h1{
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.heroText h3{
  font-size: 22px;
  font-weight: 600;
}

.heroText button {
  font-family: "Raleway", sans-serif;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 200;
  height: 51px;
  display: inline-block;
  padding: 16px 16px;
  color: #FFF;
  background-color: #2A7AE4;
  text-align: center;
  margin: 16px 0;
}

/* ----ARTICLES------ */

.articles-title{
  padding: 64px 0 16px 0;
}

.articles-title a{
  text-decoration: none;
  color: #2A7AE4;
}

/* .articleContainer{
  padding: 32px 0;
} */

.sectionName{
    font-weight: bold;
    font-size: 32px;
    margin: 16px 0;
    text-align: left;
}

.article-link{
  position: relative;
}


.article-link-text h5{
  margin-top: 8px;
  font-size: 14px;
}

.article-link-text strong{
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

.article-link-text a{
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #2A7AE4;
}

/* -----LOGIN---------- */


.loginForm{
  padding: 92px 0;
  margin: 0 auto;
  margin-top: 94px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 25px;
}

.loginForm h2{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.loginForm input{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 12px;
}

.loginForm input::placeholder{
  color: #A2A2A2;
  font-size: 16px;
  font-weight: 200;
}

.loginForm button{
  background-color: #2A7AE4;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  width: 100%;
  padding: 16px 12px;
}

/* -----ADD ITEM------ */

.contenidoPrincipal.add{
  padding-bottom: 0;
}

.addForm{
  padding: 64px 0 0 0;
  margin: 0 auto;
  margin-top: 94px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  gap: 16px;
}

.addForm h2{
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.inputStyled{
  width: 100%;
  position: relative;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 12px;
  font-size: 12px;
  opacity: 1;
  margin-bottom: 4px;
}

.floating-label {
  color: #A2A2A2;
  position: absolute;
  pointer-events: none;
  font-weight: 100;
  left: 12px;
  top: 18px;
  transition: 0.2s ease all;
}

.addForm input{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 12px 7px 12px;
}

.addInput.description{
  padding: 26px 12px 45px 12px;
}

.addForm button{
  background-color: #2A7AE4;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  width: 100%;
  padding: 16px 12px;
}


/* -----TODOS LOS PRODUCTOS------- */

.container.todos{
  margin-top: 64px;
}

.container.todos button{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: none;
  color: #FFF;
  background-color: #2A7AE4;
  padding: 16px 16px;
}

.articles.todos li{
  margin-bottom: 64px;
}

/* ----ITEM DETAILED----- */

.articles-title.similares{
  padding: 0 0 16px 0;
}

.articles-title.similares h2{
  margin: 0;
}

.itemDetails{
  padding: 64px 0;
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.itemDetails img{
  width: 100%;
}

.item-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.item-text h1{
  font-size: 52px;
}

.item-text span{
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
}

/* -----FOOTER------- */

.Footer{
  background-color: #EAF2FD;
  padding-top: 64px;
  margin-top: 64px;
}

.FooterLinks a{
  text-decoration: none;
  color: #464646;
}

.FooterForm h3{
  font-weight: 600;
  font-size: 16;
  box-sizing: content-box;
}

.FooterForm input{
  width: 100%;
  border-radius: 4px;
  padding: 7px 12px;
  font-family: 'Raleway', sans-serif;
  justify-content: right;
  vertical-align: top;
  box-sizing:border-box;
}

.FooterForm label{
  border: none;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  font-size: 12px;
  color: #A2A2A2;
  padding: 7px 12px 0 12px;
  margin-bottom: -16px;
  box-sizing:border-box;
}

#FooterForm-Input-Name{
  margin-top: 0;
  gap:0;
  border-radius: 0 0 4px 4px;
}

#FooterForm-Input-Message{
  height: 80px;
  padding-bottom: 45px;
}

#FooterForm-Input-Message::placeholder{
  color: #A2A2A2;
}

.FooterForm button{
  background-color: #2A7AE4;
  border: none;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  padding: 16px 16px;
  max-height: 51px;
  width: fit-content;
}

.developer{
  background-color: #fff;
  bottom: 100%;
  padding: 32px 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;
  line-height: 1.5;
}

.developer strong{
  font-weight: 600;
}
