.input-container--invalid {
    margin-bottom: 0.5rem;
}
  
.input-container--invalid .input-valid {
    border: 1px solid red;
    border-radius: 7px;
}
  
.input-container--invalid .input-label {
    color: red;
}
  
.input-mensaje-error{
    display: none;
}
  
.input-container--invalid .input-mensaje-error {
    color: red;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}