.FooterForm--invalid {
    margin-bottom: 0.5rem;
}
  
.FooterForm--invalid .input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
}
  
.FooterForm--invalid .input-label {
    color: var(--warning-color);
}
  
.input-mensaje-error{
    display: none;
}
  
.FooterForm--invalid .input-mensaje-error {
    color: red;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}